SECRET_KEY_JWT=233a2af34f555d381afef9e96007f7afaf4ef9dd226910c0b9c00b41fbc4c1bf
NEXT_PUBLIC_IMAGE_BASE_URL="http://172.190.1.155:83/storage/images/"
NEXT_PUBLIC_API_BASE_URL="http://172.190.1.155:83/api"
#NEXT_PUBLIC_API_BASE_URL="https://p53b3o8qlk27.share.zrok.io/api"
NEXT_PUBLIC_NEXT_CERTIFICATES_BASE_URL="http://172.190.1.155:83/storage/certificates/"
NEXT_PUBLIC_URL="localhost:3000/"
NEXT_PUBLIC_HOSTNAME="172.190.1.155"
NEXT_PUBLIC_REVERB_APP_ID=145046
NEXT_PUBLIC_REVERB_APP_KEY=do6xwij5byacp4kp23ma
NEXT_PUBLIC_REVERB_APP_SECRET=fcm4xxest3nsihzqzhyy
NEXT_PUBLIC_REVERB_HOST="172.190.1.155"
NEXT_PUBLIC_REVERB_SCHEME=http
DHL_API_KEY=yydbaDB8Ji9LBCR4jyAydzbxmivJpOUA
DHL_API_SECRET=Cg99PHMQqCM73qC0
DHL_BASE_URL='https://api-eu.dhl.com/track/shipments?trackingNumber='
